name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

            - name: Lint with Ruff
              run: |
                  pip install ruff
                  # stop the build if there are Python syntax errors or undefined names
                  ruff check . --select=E9,F63,F7,F82 --target-version=py310
                  # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
                  ruff check . --exit-zero --statistics

            - name: Test with pytest
              run: |
                  pip install pytest
                  # pytest # Uncomment when tests are added

    semgrep:
        name: Semgrep
        runs-on: ubuntu-latest
        container:
            image: returntocorp/semgrep
        if: (github.actor != 'dependabot[bot]')
        steps:
            - uses: actions/checkout@v6
            - run: semgrep scan --config=auto
